@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*   --primary-text-color: #07376E;*/
/*   --light-color: #ffffff;*/
/*   --dark-color: #000000;*/
/*   --accent-color: #B1362F;*/
/*}*/

html,
body {
   scrollbar-gutter: stable;
}

main {
   flex: 1 1 auto;
}

@layer base {
   :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;

      /*--primary: 222.2 47.4% 11.2%;*/
      /*--primary-foreground: 210 40% 98%;*/

      /*--secondary: 210 40% 96.1%;*/
      /*--secondary-foreground: 222.2 47.4% 11.2%;*/

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --ring: 215 20.2% 65.1%;

      --radius: 0.5rem;
   }

   .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;

      --ring: 217.2 32.6% 17.5%;
   }
}

/*TODO @layer - понижає спицефічність стилів, щоб їх можна переобриділити */
@layer components {
   /*TODO add custom class*/
   .cart {
      @apply flex items-center justify-center;
      /*or*/
      display: flex;
      justify-content: center;
      align-items: center;

      border: solid 1px tomato;
      width: 400px;
      height: 300px;
      /*берем колір з теми*/
      color: theme('colors.secondary');
   }

   .container {
      padding: 0 15px;
   }

   .primary-text {
      @apply text-center text-primary text-mobile hover:text-red-300 transition;
   }

   /*TODO звертаємося від батька до певної дитини v1*/
   .parent > .children {
      font-size: 20px;
   }
   /*TODO звертаємося від батька до певної дитини v2*/
   .parent > span {
      font-size: 40px;
   }

   .active {
      color: red;
   }

   .list-item {
      @apply flex py-4 first:pt-0 last:pb-0
   }

   /*TODO заміна "ковбаси" в js*/
   .gradient:after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 300px;
      height: 250px;
      border-radius: 311px;
      opacity: 0.5;
      background: linear-gradient(63deg, rgba(255, 168, 0, 0.80) 0%, rgba(255, 82, 82, 0.80) 51.04%, rgba(255, 0, 199, 0.80) 100%);
      filter: blur(125px);
   }
}

/*TODO так можна передавати класи і вони будуть перебивати стилі tailwind*/
.button-active{
   @apply py-1 px-6 rounded-md bg-red-500 text-black
}
