@tailwind base;
@tailwind components;
@tailwind utilities;

/*add custom class*/
@layer components {
   .cart {
      @apply flex items-center justify-center;
      /*or*/
      display: flex;
      justify-content: center;
      align-items: center;

      border: solid 1px tomato;
      width: 400px;
      height: 300px;
      /*берем колір з теми*/
      color: theme('colors.secondary');
   }

   .container {
      max-width: 1230px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
   }

   .primary-text {
      @apply text-center text-primary text-mobile hover:text-red-300 transition;
   }

   /*звертаємося від батька до певної дитини v1*/
   .parent > .children {
      font-size: 20px;
   }
   /*звертаємося від батька до певної дитини v2*/
   .parent > span {
      font-size: 40px;
   }
}

