@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --primary-text-color: #07376E;
   --light-color: #ffffff;
   --dark-color: #000000;
   --accent-color: #B1362F;
}

main {
   flex: 1 1 auto;
}

/*TODO @layer - понижає спицефічність стилів, щоб їх можна переобриділити */
@layer components {
   /*TODO add custom class*/
   .cart {
      @apply flex items-center justify-center;
      /*or*/
      display: flex;
      justify-content: center;
      align-items: center;

      border: solid 1px tomato;
      width: 400px;
      height: 300px;
      /*берем колір з теми*/
      color: theme('colors.secondary');
   }

   .container {
      padding: 0 15px;
   }

   .primary-text {
      @apply text-center text-primary text-mobile hover:text-red-300 transition;
   }

   /*TODO звертаємося від батька до певної дитини v1*/
   .parent > .children {
      font-size: 20px;
   }
   /*TODO звертаємося від батька до певної дитини v2*/
   .parent > span {
      font-size: 40px;
   }

   .active {
      color: red;
   }

   .list-item {
      @apply flex py-4 first:pt-0 last:pb-0
   }

   /*TODO заміна "ковбаси" в js*/
   .gradient:after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 300px;
      height: 250px;
      border-radius: 311px;
      opacity: 0.5;
      background: linear-gradient(63deg, rgba(255, 168, 0, 0.80) 0%, rgba(255, 82, 82, 0.80) 51.04%, rgba(255, 0, 199, 0.80) 100%);
      filter: blur(125px);
   }
}